{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Robot Learning from Demonstration</h1>
            <p class="lead">You might be asking, "What is this study all about?"</p>
        </div>
    </div>
{% endblock jumbotron %}
{% block content %}  
       <div class="containter" id="bigMama">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Speech UI</h5>
                        <p class="card-title">You can either type or tap the microphone icon and speak:</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}