<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
{% load static %}
<script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<script type="text/javascript" src="{% static 'js/cairo_web_rosbridge.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cairo_web.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/cairo_web.css' %}"</link>
</head>

<body>
  <h1>Simple roslib Example</h1>
  <p>Check your Web Console for output.</p>

  <!-- Rectangular switch -->
  <label class="switch">
    <input type="checkbox" id="toggle1">
    <span class="slider"></span>
  </label>
  <label class="switch">
    <input type="checkbox" id="toggle2">
    <span class="slider"></span>
  </label>

</body>
</html>